<div class="#2" style="width:201px;padding:5px;float:left;">
    <fieldset>
      <legend>Informations</legend>
      Channel: <%= @media.user.pseudo %> <br>
      Date: <%= @media.created_at.strftime('%a %d %b %Y') %> <br>
      Views: <%= @media.nb_views %> <br>
      Likes: <%#= @media.nb_like %> <br>
      Comments: <%#= @media.nb_comments %> <br>
      Url:  <br>
    </fieldset>
</div>