.category_of_playlists_channels .title{
    text-align: center;
    color: #30373b;
}

.category_of_playlists_channels .edit_category_of_playlists_channel, .new_category_of_playlists_channel{
    border: 1px solid #e5e5e5;
    padding: 2.8125em;
    background: #FCFCFC;
    color:gray;
}

.category_of_playlists_channels .edit_category_of_playlists_channel label, .category_of_playlists_channels .new_category_of_playlists_channel label{
    text-transform: uppercase;
}

.category_of_playlists_channels .edit_category_of_playlists_channel input, .category_of_playlists_channels .new_category_of_playlists_channel input{
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-bottom:10px;
}


.category_of_playlists_channels .edit_category_of_playlists_channel textarea, .category_of_playlists_channels .new_category_of_playlists_channel textarea{
    width: 100%;
    height: 90px;
    padding: 10px;
    margin-bottom:10px;
}

.category_of_playlists_channels .actions{
    width: 30%;
    margin-top:10px;
}

.plist-presentation{
    margin-bottom: 1%;
}
.plist-categ-name{
    text-align: left;
    color: gray;
}

.plist-categs nav{
    margin: 5px;
}

.plist-categ-link .plist-date, .plist-user {
    color: gray;
}

.plist-categ-link{
    border-style: double;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 1%;
    padding: 15px;
}

.plist-categ-link .glyphicon-chevron-right{
    zoom: 0 !important;
}

.plist-categ-link .thumbnail{
    max-width: 320px;
    max-height: 220px;
}

.plist-categ-link .plist-informations .plist-name{
    text-transform: uppercase;
}

.plist-categ-link .plist-description{
    color: gray;
}

.plist-categ-informations {
    text-transform: uppercase;
    margin-bottom: 2%;
}

.plist-categ-user, .plist-categ-date, .plist-categ-presentation{
    color: gray;
}

.plist-categ-link:hover{
    background-color: #ddd;
    border: white;
    padding: 15px;
    border-style: double;
}