.devise  .title{
    text-align: center;
    color: #30373b;
}
.devise .new_user{
    border: 1px solid #e5e5e5;
    padding: 2.8125em;
    background: #FCFCFC;
    color:gray;
}

.devise .new_user label{
    text-transform: uppercase;
}

.devise .new_user input{
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-bottom:10px;
}

.devise input#user_remember_me{
    width: 19px;
    height: 14px;
}

.devise .new_user .actions {
    width: 30%;
    margin-top:10px;
}

.devise .links{
    text-align: center;
}