<div ng-include="'assets/app/layout/default.html'"></div>
<div id="splash-page" ng-show="showSplash">
  <div class="page-splash">
    <div class="page-splash-message">
      Discover page::Chargement ...
    </div>
  </div>
</div>
